@font-face {
    font-family: 'Quadrat';
    src: url('../fonts/quadrat-serial-regular-webfont.woff2') format('woff2'),
         url('../fonts/quadrat-serial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family:'Alef';
	margin: 0;
	padding:0;
	width: 100%;
	background-color: #dad4c2;
}
a.menu{
	display: none;
	}
.logo_mobile{
	display: none;
}	
.border_pagne{
	height: 5px;
	background-image: url('../images/patternpagne.jpg');
}
#container{
	margin: 0 auto;
	width: 1200px;
}
header{
	background-color: #dad4c2;
}
.logo_desktop{
	height:100px;
}
#reseaux_sociaux a{
	display: inline-block;
	padding: 10px;
	border-radius: 50%;
	background-color: #00538e;
	position: relative;
	left: 90px;
}
#reseaux_sociaux a, #youtube, #facebook, #twitter{
	height: 30px;
	width:  30px;
	padding: 0;
	transition: 1s;
}
#reseaux_sociaux a:hover{
	background-color:#c94a18;
}	
#youtube{
	background-image: url('../images/youtube.png');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}
#facebook{
	background-image: url('../images/facebook.png');
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
}
#twitter{
	background-image: url('../images/twitter.png');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}
#recherche{
	display: flex;
	margin-top: 35px;
}
button.recherche{
	background-image:url('../images/search.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #00538e;
	display: flex;
	height: 35px;
	padding: 15px;
	transition: 1s;
}
button.recherche:hover{
	background-color: #c94a18;
	cursor: pointer;
}
#bloc_header{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	vertical-align: baseline;
}
.recherche{
	width: 20px;
}
nav{
	background-color: #7b6856;
	height: 40px;
	border-bottom: 5px solid #645445; 
}
#container_nav{
	max-width: 1200px;
	margin: 0 auto;
}
#container_nav ul li a.active{
	background-color: #645445;
	padding: 10px;

}
#container_nav li a{
	text-decoration: none;
	color: #fff;
	transition-duration: 1s;
}
#container_nav li a:hover{
	color: red;
}
nav ul{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding-top: 10px;
	padding: 0;
}
nav li{
	font-family: Quadrat;
	font-size: 16px;
	margin-top: 10px;
}
#bloc_arbre{
	width: 100%;
	height: 300px;
	background-image: url('../images/arbre.jpg');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}
#bloc_arbre .image_pagne{
	background-image: url('../images/patternpagne.jpg');
	height: 60px;
	position: relative;
	bottom: -240px;
}
#bloc_missions{
	width: 100%;
	background-color: #dad4c2;
}
#container_missions{
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	align-items: center;
	margin-top: -200px;
}
#welcome{
	background-image: url('../images/welcome.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 280px;
	width: 600px;
	position: relative;
	justify-content: center;
}

#welcome h1{
	font-family: Quadrat;
	font-size: 26px;
	color: #00538e;
	font-weight: bold;
	text-align: center;
	margin: 5px;
	margin-top: -20px;
}
#container_missions, #welcome, h2{
	font-family: Quadrat;
	font-size: 22px;
	color: #7b6856;
	text-align: center;
}
#container_missions h3{
	font-family: Quadrat;
	color: #7b6856;
	font-size: 26px;
	margin-top: 40px;
	text-align: center;
}
#container_missions h3::after{
	display: inline-flex;
	content:'';
	width: 200px;
	position: relative;
	top: -5px;
	left: 30px;
	height: 8px;
	border:3px solid #7b6856;
	border-right: none;
	border-left: none;
	opacity: 0.3;
}
#container_missions h3::before{
	display: inline-flex;
	content:'';
	width: 200px;
	position: relative;
	top: -5px;
	right: 30px;
	height: 8px;
	border:3px solid #7b6856;
	border-right: none;
	border-left: none;
	opacity: 0.3;
}
.soulignement{
	display: flex;
	width: 80px;
	height: 6px;
	background-color: #7b6856;
	margin: 0 auto;
	margin-bottom: 25px;
}
#welcome p{
	width: 500px;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px; 
}
.btn_banadol{
	font-family: Quadrat;
	display: inline-block;
	background-color: #c94a18;
	color: #fff;
	font-size: 12px;
	border-radius: 30px;
	padding: 15px;
	text-decoration: none;
	margin-top: 40px;
	transition-duration: 1s;
}
a.btn_banadol:hover{
	background-color: #00538e;
}
#backmission ul{
	display: flex;
	list-style-type: none;
	width: 1200px;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}
#backmission li.backmission{
	width: 250px;
	height: 250px;
	background-image: url('../images/backmission.png');
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0;
	transition: 1s;
}
.backmission a{
	text-decoration: none;
}
li.backmission:hover{
	transform:scale(1.3);
}
.ico_dev{
	height: 40%;
	margin-top: 20px;
}
.backmission p{
	font-family: Quadrat;
	font-size: 16px; 
	color: #c94a18;
	text-align: center;
	margin: 20px;
}
.btn_missions{
	position: relative;
	bottom: -45px;
	font-family: Quadrat;
	display: inline-block;
	background-color: #7b6856;
	color: #fff;
	font-size: 12px;
	border-radius: 30px;
	padding: 15px;
	text-decoration: none;
	transition: 1s;
}
.btn_missions:hover{
	background: #c94a18;
	
}
#container_art{
	width: 100%;
	height: 680px;
	background-color: #fff;
}
.container_art{
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
}
#container_art h3{
	font-family: Quadrat;
	color: #7b6856;
	font-size: 26px;
	bottom: -45px;
	text-align: center;
	position: relative;
}
#container_art h3::after{
	display: inline-flex;
	content:'';
	width: 200px;
	position: relative;
	top: -5px;
	left: 30px;
	height: 8px;
	border:3px solid #7b6856;
	border-right: none;
	border-left: none;
	opacity: 0.3;
}
#container_art h3::before{
	display: inline-flex;
	content:'';
	width: 200px;
	position: relative;
	top: -5px;
	right: 30px;
	height: 8px;
	border:3px solid #7b6856;
	border-right: none;
	border-left: none;
	opacity: 0.3;
}
article{
	width: 30%;
	height: 500px;
	background-color: #dad4c2;
	text-align: center;
	border-radius: 15px;
	margin-top: 60px;
}
div.img_art1{
	background-image: url('../images/picture3.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 33%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
div.img_art2{
	background-image: url('../images/ma photo.jpeg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 33%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
div.img_art3{
	background-image: url('../images/picture3.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 33%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
article img{
	width: 100%;
	height: 30%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
article h4{
	font-family: Quadrat;
	text-align: center;
	font-size: 16px;
	color: blue;
	opacity: 0.6;
}
article span{
	font-family: Quadrat;
	font-size: 16px;
	color: #7b6856;
	text-align :center;
	width: 200px;
	display: block;
	margin:0 auto;
	margin-bottom: 10px;
}
article .tiret_bleu{
	display: flex;
	background-color: blue;
	width: 70px;
	height: 5px;
	margin: auto;
	opacity: 0.6;
}
article p{
	width: 350px;
	font-family: Alef;
	text-align: center;
	font-size: 16px;
	margin:0 auto;
	margin-top: 30px;
}
article .btn_articles{
	margin-top: 35px;
	font-family: Quadrat;
	display: inline-block;
	background-color: #cf4019;
	color: #fff;
	font-size: 12px;
	border-radius: 30px;
	padding: 15px;
	text-decoration: none;
	transition: 1s;
}
article .btn_articles:hover{
	background: #00538e;
	
}
.border_bas{
	height: 5px;
	background-image: url('../images/patternpagne.jpg');
	margin: 0;
}
.image_pagne{
	background-image: url('../images/patternpagne.jpg');
	height: 60px;
}
.marron_clair{
	background-color: #7b6856;
	height: 60px;
}
.marron_fonce{
	background-color: #645445;
	height: 90px;
}
#container_bas{
	max-width: 1200px;
	margin: 0 auto;
	height: 150px;
}
.logo_bas{
	height:120px;
	margin-top: 15px;
}
#reseaux_bas a{
	display: inline-block;
	padding: 10px;
	border-radius: 50%;
	background-color: #00538e;
	position: relative;
	margin-left: 10px;
}
div#reseaux_bas{
	display: flex;
}
button.recherche_bas{
	background-image:url('../images/search.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #00538e;
	display: flex;
	height: 35px;
	padding: 15px;
	transition: 1s;
}
button.recherche_bas:hover{
	background-color: #c94a18;
	cursor: pointer;
}
#recherche_bas{
	display: flex;
	position: relative;
	padding: 0;
	left: 730px;
}
#reseaux_bas a, .youtube, .facebook, .twitter{
	height: 30px;
	width:  30px;
	padding: 0;
	transition: 1s;
}
#reseaux_bas a:hover{
	background-color:#c94a18;
}	
.youtube{
	background-image: url('../images/youtube.png');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}
.facebook{
	background-image: url('../images/facebook.png');
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
}
.twitter{
	background-image: url('../images/twitter.png');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}
#reseaux_search{
	display: flex;
	position: relative;
	left: 160px;
	top: -123px;
}
#bas_page{
	display: flex;
	font-size: 10px;
}
#bas_page p{
	width: 630px;
	position: relative;
	left: 340px;
	top:5px;
}
#bas_page span{
	position: relative;
	left: 562px;
	color: #fff;
	font-size: 8px;
	top:15px;
}
#bas_page ul{
	color: #fff;
	position: relative;
	left: 400px;
	top:20px;
}

@media screen and (max-width: 640px){
	body{
		width: 100%;
		overflow-x: hidden;
	}
	header{
	background-color: #dad4c2;
}
.logo_desktop{
	display: none;
}
.logo_mobile{
	display: initial;
	height:100px;
	margin-left: 5px;
}
#bloc_header{
	display: block;
}
#reseaux_sociaux a{
	display: inline-block;
	left: 288px;
	bottom: 75px;
}
#reseaux_sociaux a, #youtube, #facebook, #twitter {
    height: 35px;
    width: 35px;
    padding: 0;
    transition: 1s;
}
#recherche{
	display: flex;
	position:relative;
	bottom: 85px;
	left: 220px;
}
button.recherche{
	height: 25px;
	padding: 13px;
	transition: 1s;
}
.champs_recherche{
	width: 150px;
	height: 25px;
}
#container_nav ul{
	display: block;
	position: relative;
	text-align: left;
	top: -35px;
	padding: 0px;
	z-index: 1;
	background-color: #7b6856;
	height: 392px;
}
#container_nav ul li a:hover{
	background: red;
}
nav{
	display:none;
}
nav li{
	margin-top: 30px;
	margin-left: 10px;
}
nav.nav_active{
	display: block;
}
a.menu{
	display: inline-block;
	position: relative;
	width: 130px;
	padding: 10px;
	left: 2px;
	bottom: 40px;
	border-radius: 5px;
	font-size: 24px;
	font-family: Quadrat;
	text-align: center;
	text-decoration:none;
	color: #fff;
	background-color: #7b6856;
}
a.menu:hover{
	background-color: #c94a18;
}
#bloc_arbre{
	height: 290px;
	background-position: bottom;
	bottom: 10px;
}
#welcome{
	width: 560px;
}
#welcome h2{
	font-size: 16px;
}
#welcome h1{
	font-size: 20px;
}
#welcome p{
	font-size: 14px;
	width: 410px;
	bottom: 20px;
}
#bloc_arbre .image_pagne{
	bottom: -305px;
}
.soulignement{
	margin-bottom: 10px;
	width: 70px;
    height: 4px;
}
.btn_banadol{
	position: relative;
	top: -30px;
}
#container_missions h3{
	font-size: 22px;
	margin: 20px;
	bottom: 
}
#container_missions h3:before{
	width: 70px;
}
#container_missions h3:after{
	width: 70px;
}
#backmission{
	margin-bottom: -30px;
}
.btn_missions{
	bottom: 0;
}
#backmission ul{
	display: block;
	width: 240px;
	margin: 10px;
}
#backmission li.backmission {
    width: 230px;
    height: 230px;
    margin: 10px;
}
#container_art{
	height: 100%;
}
#container_art h3{
	font-size: 22px;
	margin: 20px;
	bottom: -30px;
}
#container_art h3::before{
	width: 70px;
}
#container_art h3:after{
	width: 70px;
}
.container_art{
	display: block;
	margin-left: 28px;
	margin-bottom: 40px;
}
article{
	width: 30%px;
	margin-top:45px;
}
article p{
	width: 310px;
	margin-top: 10px;
}
#reseaux_bas a{
	display: inline-block;
	right: -90px;
	top: 0px;
}
#reseaux_bas a, .youtube, .facebook, .twitter {
    height: 35px;
    width: 35px;
    padding: 0;
    transition: 1s;
}
#reseaux_search {
    display: flex;
    position: relative;
    left: 175px;
    top: 80px;
}
#recherche_bas{
	display: flex;
	position:relative;
	bottom: -60px;
	left: -95px;
}
button.recherche_bas{
	height: 25px;
	padding: 13px;
	transition: 1s;
}
.champs_recherche1{
	width: 150px;
	height: 25px;
}
.marron_clair {
    height: 200px;
}
.marron_fonce {
    height: 145px;
}
.logo_bas {
    height: 120px;
    top: 200px;
    left: 10px;
    position: relative;
} 
#bas_page{
	height: 100px;
	flex-direction: column;
}
#bas_page p{
	width: 400px;
    left: 10px;
    top: -200px;
    font-family: Alef;
    font-size: 12px;
}
#bas_page ul {
    color: #fff;
    position: relative;
    left: -10px;
    top: -204px;
}
#bas_page span{
	left: 10px;
    top: -200px;
}
}
/*
███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗    ███╗   ███╗██╗███████╗███████╗██╗ ██████╗ ███╗   ██╗███████╗
██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║    ████╗ ████║██║██╔════╝██╔════╝██║██╔═══██╗████╗  ██║██╔════╝
███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║    ██╔████╔██║██║███████╗███████╗██║██║   ██║██╔██╗ ██║███████╗
╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║    ██║╚██╔╝██║██║╚════██║╚════██║██║██║   ██║██║╚██╗██║╚════██║
███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║    ██║ ╚═╝ ██║██║███████║███████║██║╚██████╔╝██║ ╚████║███████║
╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝    ╚═╝     ╚═╝╚═╝╚══════╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
 */

#body_missions{
	font-family:'Alef';
	margin: 0;
	padding:0;
	width: 100%;
	background-color: #dad4c2;
}
#ville_dol{
	width: 100%;
	height: 600px;
	background-image: url('../images/Image_dolisie.jpg');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	bottom: 150px;
	
}
#ville_dol .image_pagne{
	background-image: url('../images/patternpagne.jpg');
	height: 60px;
	position: relative;
	bottom: -300px;
}
#bloc_ville{
	width: 700px;
	height: 300px;
	margin: 0 auto;
}
#ville_dol h1{
	font-family: Quadrat;
	color: #fff;
	font-size: 30px;
	position: relative;
	top: 160px;
	text-align: center;
}
#ville_dol p{
	font-family: Alef;
	color: #fff;
	font-size: 16px;
	position: relative;
	top: 160px;
	width: 600px;
	margin: 0 auto;
}
#ville_dol h1::after{
	display: inline-flex;
	content:'';
	width: 200px;
	position: relative;
	top: -5px;
	left: 30px;
	height: 8px;
	border:3px solid #fff;
	border-right: none;
	border-left: none;
}
#ville_dol h1::before{
	display: inline-flex;
	content:'';
	width: 200px;
	position: relative;
	top: -5px;
	right: 30px;
	height: 8px;
	border:3px solid #fff;
	border-right: none;
	border-left: none;
}
#missions_banadol{
	background-color: #dad4c2;
	width: 100%;
	height: 240px;
	position: relative;
	bottom: 267px;
}
#missions_banadol ul{
	display: flex;
	justify-content: space-between;
	width: 1200px;
	height: 120px;
	background-color: #beb7a2;
	list-style: none;
	margin: auto;
	position: relative;
	bottom: 90px;
}
#missions_banadol li{
	font-family: Alef;
}

#missions_banadol li:nth-of-type(1){
	background-color: #fff;
	margin-left: -40px;
}
.triangle{
	display: inline-block;
	height: 0;
	width:0;
	border-top:150px solid red;
	border-left:150 solid transparent;
}
.triangle::after{
	content:'';
	
}
.missions_banadol a{
	display: flex;
	text-decoration: none;
	height: 175px;
}
.missions_banadol .ico_dev{
	margin-left: 15px;
}
.missions_banadol p{
	font-family: Quadrat;	
	margin-left: 10px;
	width: 145px;
	margin-top: 30px;
}
.bloc_elephan>h2{
	margin-top: 40px;
	display: flex;
	color: #c94a18;
}
.bloc_elephan>p{
	display: flex;
	font-family: Alef;
	width: 600px;
}
#elephan{
	display: flex;
	width: 1200px;
	justify-content: space-between;
	margin: auto;
	margin-top:-90px;
	align-items: center;
}
.photo{
	background-image: url('../images/elephan.jpg');
	background-size: 100%;
	width: 100%;
	background-repeat: no-repeat;
	height: 400px;
	margin-top: 45px;
}
article{
	width: 30%;
	height: 500px;
	background-color: #dad4c2;
	text-align: center;
	border-radius: 15px;
	margin-top: 60px;
}
div.img_art1{
	background-image: url('../images/picture3.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 33%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
div.img_art2{
	background-image: url('../images/ma photo.jpeg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 33%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
div.img_art3{
	background-image: url('../images/picture3.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 33%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
article img{
	width: 100%;
	height: 30%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
article h4{
	font-family: Quadrat;
	text-align: center;
	font-size: 16px;
	color: blue;
	opacity: 0.6;
}
article span{
	font-family: Quadrat;
	font-size: 16px;
	color: #7b6856;
	text-align :center;
	width: 200px;
	display: block;
	margin:0 auto;
	margin-bottom: 10px;
}
article .tiret_bleu{
	display: flex;
	background-color: blue;
	width: 70px;
	height: 5px;
	margin: auto;
	opacity: 0.6;
}
article p{
	width: 350px;
	font-family: Alef;
	text-align: center;
	font-size: 16px;
	margin:0 auto;
	margin-top: 30px;
}
article .btn_articles{
	margin-top: 35px;
	font-family: Quadrat;
	display: inline-block;
	background-color: #cf4019;
	color: #fff;
	font-size: 12px;
	border-radius: 30px;
	padding: 15px;
	text-decoration: none;
	transition: 1s;
}
article .btn_articles:hover{
	background: #00538e;
	
}